#canvas-basic {
 position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


footer {
    background-color: #666666;
    padding: 20px 0;
    clear: both;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    padding-bottom: 2em;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
   };

.form-inline {
    position: relative;
    float: -1;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#navbar {
    border-color: #666666;
    margin-left: 0;
    margin-right: auto;
}

.sidenav1 {
    padding-top: 20px;
    background-color: #666666;
    margin-left: 0;
    margin-right: auto;
}
.sidenav2 {
    padding-top: 20px;
    background-color: #666666;
    margin-left: auto;
    margin-right: 0;
}

#p-one {
    padding-bottom: 20px;
    
}
#p-two {
    padding-bottom: 20px;
}
#p-three {
    padding-bottom: 20px;
}

#ad1 {
    padding-bottom: 20px;
    
}
#ad2 {
    padding-bottom: 20px;
}




.row.content {height: 87vh}

