footer {
    background-color: #666666;
    padding: 20px 0;
    clear: both;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    padding-bottom: 2em;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
   };

.form-inline {
    position: relative;
    float: -1;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}